.leftImage {
	height: 50%;
	width: 40%;
	/* float: left; */
	margin-left: 200px;
	border: black 5px solid;
}

.rightImage {
	height: 50%;
	width: 40%;
	/* float: right; */
	margin-left: 750px;
	border: black 5px solid;
}

.image-container {
	margin-top: 100px;
}