html {
    height: 100%
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.content {
    width: 100%;
    min-height: 100vh;
}

.socials {
    text-align: center;
}

.fullScreen {
    height: 100vh;
    width: 100%;
}

.leftSide {
    background-color: black;
    float: left;
    width:50%;
    height: 100vh;
}
.rightSide {
    background-image: url(IMG_5250.JPG);
    background-size: cover;
    float: right;
    width: 50%;
    height: 100vh;
}

.name {
    color: white;
    text-align: center; 
    margin-top: 370px;
    font-family: "Helvetica Neue";
    font-size: 37px;
}

.blurb {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.link {
    color: white;
}

.logo {
    margin-top: 30px;
    text-align: center;
}

.location-tabs {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.photo-showcase {
    width: 100%;
}

